.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1D2228;  
  color: #E1E2E2;
}

.buttons {
  background-color: #FB8122;
}

.buttons:hover {
  background-color: #e67300;
}


/* NAV-BAR */
.nav-bar {
  background-color: #3699db;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.nav-link {
  color: #E1E2E2;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.nav-link.active {
  color: black;
}

.company-name {
  font-weight: bold;
  color: #E1E2E2;
  padding: 10px auto 10px auto;
  margin-bottom: 2px;
  border-bottom: 3px solid #FB8122;
  line-height: 1.2; 
}

.auth-panel {

    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border: solid 2px #007bf7;
    border-radius: 10px;
    box-shadow: 0 0 4px #0272B1, 0 4px 8px #3eb54991;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.auth-panel-header {
    padding: 16px;
}

.patient-form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border: solid 2px #007bf7;
  border-radius: 10px;
  box-shadow: 0 0 4px #0272B1, 0 4px 8px #3eb54991;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.patient-row{
  padding: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

/* PATIENT-CHART */

.patient-chart-diagnosis{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border: solid 2px #007bf7;
    border-radius: 10px;
    box-shadow: 0 0 4px #0272B1, 0 4px 8px #3eb54991;
    position: absolute;
    
}

.patient-chart-notes {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border: solid 2px #007bf7;
    border-radius: 10px;
    box-shadow: 0 0 4px #0272B1, 0 4px 8px #3eb54991;
    position: absolute;
}

.patient-search-form {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border: solid 2px #007bf7;
    border-radius: 10px;
    box-shadow: 0 0 4px #0272B1, 0 4px 8px #3eb54991;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

